/*Responsive: que se adapte al tamanho de la pantalla*/

body { /*Esto se llama selector de etiquetas*/
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#contenedor-izquierdo { /*Selector de id's*/
	left: 0px;
}

#contenedor-derecho {
	right: 0px;
}

.contenedor{
  background-color: #eee;
	width: 15%;
	height: 100%;
	top: 0px;
	position: absolute;
	padding: 10px;
  
  display: grid;  
  gap: lem;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

#placita {
 /* background: #eee;*/
  height: 80vh;
  width: 60vw;
  margin: 10vh auto 0;
  display: grid;
  gap: lem;
  grid-template-rows: 50% 50%;
 
}


.cielo {
	background: #147894;
  border-radius: 1rem 1rem 0 0;
}

.suelo {
 background: #C9E4C5;
 border-radius: 0 0 1rem 1rem; 
}
